.container {
	width: 80%;
	height: 60%;
	margin: 20px;
	padding: 10px;
}

.title {
	margin: 10px 0;
	padding: 10px 0;
}

#commentForm {
	margin-top: 10px;
}

textarea {
	width: 100%;
	margin: 0 auto;
}

.writeForm{
	width: 60%;
	margin-top: 20px;
}